*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*border: none;*/
.box{
    height: 700px;
    /*background-color: #000;*/
    /*background-image: url();*/
    /*background-size: cover;*/
    /*background-size: contain;*/
    /*background-size: 70%;*/
    /*background-size: 500px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center bottom;*/
    /*background-position: 200px 10%;*/
    /*background-position-x: 0 ;*/
    background:
    url("") no-repeat center right/50%,
    url("") no-repeat center left/30%,
    red;
}


